<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <title>WebookshelfTutorial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# レスポンシブ対応 %>
    <meta name="viewport" content="width=device-width">

    <%# SweatAlert2の読み込み %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <%# Twitterカード %>
    <% if @h %>
      <% twitter_card = get_twitter_card_info(@h) %>
      <meta name="twitter:card" content=<%=twitter_card[:card]%> />
      <meta property="og:url" content=<%=twitter_card[:url]%> />
      <meta property="og:title" content=<%=twitter_card[:title]%> />
      <meta property="og:description" content=<%=twitter_card[:description]%> />
      <meta property="og:image" content=<%=twitter_card[:image]%> />
    <% end %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>